@model BIsleriumBlog.Models.Blogs

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Blogs</h4>
    <hr />
    <div class="post">
        <!-- Post header -->
        <div class="post-header">
            <!-- Profile name and uploaded time -->
            <div>
                <div class="profile-name">@Html.DisplayFor(model => model.UserId)</div>
                <div class="post-uploaded-time">@Html.DisplayFor(model => model.CreatedDate)</div>
            </div>

        </div>
        <!-- Post title, body, and content -->
        <h3>@Html.DisplayFor(model => model.Title)</h3>
        <p>@Html.DisplayFor(model => model.Body)</p>
        <div class="post-content">
            @if (!string.IsNullOrEmpty(Model.ImageUrl))
            {
                <img src="~/images/@Html.DisplayFor(model => model.ImageUrl)" style="height: 300px;" />
            }
            else
            {
                <span>No Image Available</span>
            }
        </div>
    </div>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
